# Virtual environment
ven/
venv/
ENV/

# PyInstaller / Build artifacts
build/
dist/
*.spec

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDs and local configs
.env
.idea/
.vscode/

# Job logs and checkpoints
*.log
.checkpoint.json
